body{
    background: rgb(2,0,36);
    background: radial-gradient(circle,rgb(2,0,36,1) 0%);
}

.container{

    display:flex !important;
    flex-direction :column;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:auto;
    width:600px;
}

.container >form{
    width:70%;
    border:10px solid #dfdfdf;
    padding:50px;
    border-radius:5px;
    background:#fff;

}
button{
    padding-left:50px
}
pre{
    width:70%;
    color:#fff;
    font-size: larger;
}

button{
    background:#0563b4 !important;
}

p{
    color:red;
}